<app-add-banne heading="Add Top Banner"></app-add-banne>
<app-famous heading="Add Famous Products"></app-famous>
<app-collection heading="Add A Product to Your Collection"></app-collection>
<app-add-products heading="Add Your Products From Here"></app-add-products>
<app-add-middle-banner heading="Add Middle Banner"></app-add-middle-banner>
<app-add-testimonials heading="Add Your Testimonials From Here"></app-add-testimonials>
<app-add-featured-images heading="Add Featuring Images From Here"></app-add-featured-images>