
a{
    text-decoration: none;
}

 .pic{
    padding: 5px;
    background: #fff;
    border: 1px solid #d6d6d6;
    position: absolute;
    top: -20px;
    left: 5px;
    z-index: 1;
}
 .description{
    padding: 30px 45px 30px 60px;
    margin-left: 34px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    color: #6d6d6d;
    line-height: 26px;
    position: relative;
}
 .description:before{
    content: "";
    width: 35px;
    height: 101%;
    background: #fff;
    border-left: 1px solid #d6d6d6;
    position: absolute;
    top: 0;
    right: -18px;
    transform: skewX(-17deg);
}
 .testimonial-content{
    margin: 20px 0 0 34px;
}
.title{
    display: inline-block;
    font-size: 14px;
    color: #fc6963;
}
 .post{
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-top: 2px;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}

@media only screen and (max-width:990px){
   .description:before{
        display: none;
    }
}