<div class="container-fluid" style="padding: 0px;">
    <div class="upper">
        <div class="left">
            <h4>Ouick Links</h4>
            <p>Search</p>
        </div>
        <div class="right">
            <h4 style="text-align: left;">Newsletter</h4>
            <form >
                <input type="text" name="" id="" placeholder="Email Address"><button>Subscribe</button>
            </form>
        </div>
    </div>
</div>

<div class="bottom">
    <p>© 2021, rajat's_clothing_store Powered by Shopify</p>
</div>