<div class="main-outer">
<h1>Enter Product Details</h1>
 <form [formGroup]="productForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Product Name</label>
        <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter product Name">
      </div>
     <div class="form-group">
        <label for="exampleInputPrice">Enter Product Price</label>
        <input formControlName="price" type="text" class="form-control" id="exampleInputPrice" placeholder="Enter Product Price">
    </div>
    <div class="form-group">
        <label for="">Enter Number Of Products Avilable</label>
        <input formControlName="availability" class="form-control" type="number" placeholder="Enter Product Availability">
    </div>
     <div class="form-group">
         <label for=""></label>
     </div>
     <label for="">Enter Product Details</label>
    <angular-editor formControlName="details" [placeholder]="'Enter text here...'"></angular-editor>
 </form>
 <button class="d-block btn btn-outline-info mt-2" (click)="addProduct()">Add Product</button>
</div>