h1{
    margin: 55px auto;
    text-align: center;
    font-weight: bolder;
}

.myproductcard{
    width: 24%;
}
.row{
    justify-content: space-evenly;
}

@media (max-width:768px) {
    .myproductcard{
        width: 45%;
    }
}
@media (max-width:496px) {
    .myproductcard{
        width: 80%;
    }
}