<h1 style="margin-bottom: 20px;">{{heading}}</h1>

<div type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" class="add"><i class="fas fa-plus"></i></div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Banner Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bannerForm">
            <div class="form-group">
              <label for="img">Image Url <span class="required">*</span></label>
              <input formControlName="imageUrl" class="form-control" type="text" name="" id="img">
            </div>
            <div class="form-group">
              <label for="head">Banner Heading <span class="required">*</span></label>
              <input formControlName="bannerHeading" class="form-control" type="text" name="" id="head">
            </div>
            <div class="form-group">
              <label for="data">Banner Text <span class="required"></span>*</label>
              <input formControlName="bannerData" class="form-control" type="text" name="" id="data">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" (click)="submitBannerForm()">Submit Data</button>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
       
        </div>
      </div>
    </div>
  </div>