<div class="container">
  <figure class="snip1174 red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33"/>
    <figcaption>
      <h2>join As A Buyer</h2>
      <p>
        Sometimes one should just look at things and think about things without doing things.
      </p>
      <a routerLink="/register">Go To Register Page</a>
    </figcaption>
  </figure>
  <figure class="snip1174 green">
    <img src="https://images.unsplash.com/photo-1635898004196-7d041668e6c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="sq-sample33"/>
    <figcaption>
      <h2>Join as a Seller</h2>
      <p>
        Sometimes one should just look at things and think about things without doing things.
      </p>
      <a routerLink="/register-seller">Go To Register Page</a>
    </figcaption>
  </figure>
  <figure class="snip1174 yellow">
    <img src="https://images.unsplash.com/photo-1635983936376-154277d90673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="sq-sample33"/>
    <figcaption>
      <h2>Login as Super Admin</h2>
      <p>
        Sometimes one should just look at things and think about things without doing things.
      </p>
      <a routerLink="/super-admin">Goto login Page</a>
    </figcaption>
  </figure>

</div>


