<section class="contact-from">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="form-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h4>Seller form</h4>
              </div>
            </div>
            <form [formGroup]="registerSellerForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      formControlName="first_name"
                    />
                    <div *ngIf="f.first_name.touched && f.first_name.errors">
                      <span *ngIf="f.first_name.errors.required">*Required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last name"
                      formControlName="last_name"
                    />
                    <div *ngIf="f.last_name.touched && f.last_name.errors">
                      <span *ngIf="f.last_name.errors.required">*Required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email_address"
                    />
                    <div *ngIf="f.email_address.touched && f.email_address.errors">
                      <span *ngIf="f.email_address.errors.required">*Required</span>
                    </div>
                  </div>
                </div>
                
  
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone number"
                      formControlName="phone_number"
                    />
                    <div *ngIf="f.phone_number.touched && f.phone_number.errors">
                      <span *ngIf="f.phone_number.errors.required">*Required</span>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" formControlName="username"/>
                    <div *ngIf="f.username.touched && f.username.errors">
                      <span *ngIf="f.username.errors.required">*Required</span>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <select
                    name="countries"
                    class="custom-select"
                    id="exampleFormControlSelect1"
                    formControlName="country"
                  >
                    <option value="" disabled>Select country</option>
                    <option value="in">India</option>
                    <option value="usa">USA</option>
                    <option value="fr">France</option>
                    <option value="ch">China</option>
                    <option value="jp">Japan</option>
                  </select>
                  <div *ngIf="f.country.touched && f.country.errors">
                    <span *ngIf="f.country.errors.required">*Required</span>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <button class="btn btn-primary" (click)="registerSeller()">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  