svg{
    background-color: rgba(51, 50, 50, 0.1);
    fill: rgba(51, 50, 50, 0.35);
    border: 1px solid rgba(51, 50, 50, 0.35);
    width: 100;
    object-fit: cover;
}
.description{
    padding: 20px 0px;
}
.description h3{
    font-size:calc(((17) / (15)) * 1em);
    font-weight: 700;
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    color: #3a3a3a;
}

.description p{
font-size: calc(((15 - 1)/ (15)) * 1em);
font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
color: #333232;
}

@media (max-width:768px) {
    .col-md-4{
        margin-bottom: 40px;
    }   
}
@media only screen and (max-width:500px) {
    .description h3{
        font-size:calc(((16) / (15)) * 1em);
    }
    .description p{
        font-size: calc(((13 - 1)/ (15)) * 1em);
    }
}