<div class="container mb-4">
  <h1 style="font-weight: 300">Cart</h1>
  <div class="cart-table">
    <div class="row cart-row">
      <div class="col-xs-12 col-md-2">
        <img
          src="https://profilewear.se/image/catalog/shop_information/kategori/pw3/T-shirt.png"
          width="100%"
        />
      </div>
      <div class="col-md-6">
        <div class="product-articlenr">#643489</div>
        <div class="product-name">Basic T-shirt</div>
        <div class="product-options">
          <span>Color:</span> Grey<br /><span>Size:</span> M
        </div>
        <div class="product-price">
          <input
            type="text"
            name="quantity[4]"
            value="1"
            size="1"
            class="form-control"
          />
          <button
            type="submit"
            data-toggle="tooltip"
            title="Uppdatera"
            class="update"
          >
            <i class="fas fa-sync"></i>
          </button>
          <div class="product-price"><small>x</small> 49 SEK</div>
        </div>
      </div>
      <div class="col-md-3 cart-actions">
        <div class="product-price-total">49 SEK</div>
        <div class="product-delete">
          <button
            type="button"
            data-toggle="tooltip"
            title="Ta bort"
            class="delete"
            onclick="cart.remove('5');"
          >
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- cart-row-->

    <div class="row cart-row">
      <div class="col-xs-12 col-md-2">
        <img
          src="https://profilewear.se/image/catalog/shop_information/kategori/pw3/T-shirt.png"
          width="100%"
        />
      </div>
      <div class="col-md-6">
        <div class="product-articlenr">#643489</div>
        <div class="product-name">Basic T-shirt</div>
        <div class="product-options">
          <span>Color:</span> Grey<br /><span>Size:</span> M
        </div>
        <div class="product-price">
          <input
            type="text"
            name="quantity[4]"
            value="1"
            size="1"
            class="form-control"
          />
          <button
            type="submit"
            data-toggle="tooltip"
            title="Uppdatera"
            class="update"
          >
            <i class="fas fa-sync"></i>
          </button>
          <div class="product-price"><small>x</small> 49 SEK</div>
        </div>
      </div>
      <div class="col-md-3 cart-actions">
        <div class="product-price-total">49 SEK</div>
        <div class="product-delete">
          <button
            type="button"
            data-toggle="tooltip"
            title="Ta bort"
            class="delete"
            onclick="cart.remove('5');"
          >
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- cart-row-->

    <div class="row cart-row">
      <div class="col-xs-12 col-md-2">
        <img
          src="https://profilewear.se/image/catalog/shop_information/kategori/pw3/T-shirt.png"
          width="100%"
        />
      </div>
      <div class="col-md-6">
        <div class="product-articlenr">#643489</div>
        <div class="product-name">Basic T-shirt</div>
        <div class="product-options">
          <span>Color:</span> Grey<br /><span>Size:</span> M
        </div>
        <div class="product-price">
          <input
            type="text"
            name="quantity[4]"
            value="1"
            size="1"
            class="form-control"
          />
          <button
            type="submit"
            data-toggle="tooltip"
            title="Uppdatera"
            class="update"
          >
            <i class="fas fa-sync"></i>
          </button>
          <div class="product-price"><small>x</small> 49 SEK</div>
        </div>
      </div>
      <div class="col-md-3 cart-actions">
        <div class="product-price-total">49 SEK</div>
        <div class="product-delete">
          <button
            type="button"
            data-toggle="tooltip"
            title="Ta bort"
            class="delete"
            onclick="cart.remove('5');"
          >
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- cart-row-->

    <div class="row cart-row">
      <div class="col-xs-12 col-md-2">
        <img
          src="https://profilewear.se/image/catalog/shop_information/kategori/pw3/T-shirt.png"
          width="100%"
        />
      </div>
      <div class="col-md-6">
        <div class="product-articlenr">#643489</div>
        <div class="product-name">Basic T-shirt</div>
        <div class="product-options">
          <span>Color:</span> Grey<br /><span>Size:</span> M
        </div>
        <div class="product-price">
          <input
            type="text"
            name="quantity[4]"
            value="1"
            size="1"
            class="form-control"
          />
          <button
            type="submit"
            data-toggle="tooltip"
            title="Uppdatera"
            class="update"
          >
            <i class="fas fa-sync"></i>
          </button>
          <div class="product-price"><small>x</small> 49 SEK</div>
        </div>
      </div>
      <div class="col-md-3 cart-actions">
        <div class="product-price-total">49 SEK</div>
        <div class="product-delete">
          <button
            type="button"
            data-toggle="tooltip"
            title="Ta bort"
            class="delete"
            onclick="cart.remove('5');"
          >
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
