p,h6{
    margin: 0;
    padding: 0;
}

.image{
    height: 280px;
    width: 100%;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.image img:hover{
    transform: scale(1.1);
}

.description{
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
.data{
    align-self: flex-start;
}
button{
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}


@media (max-width:768px) {
    .myproductcard{
        width: 45%;
    }
}
@media (max-width:496px) {
    .myproductcard{
        width: 80%;
    }
}