.image{
    height: 280px;
    width: 100%;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.image img:hover{
    transform: scale(1.1);
}

.description{
    padding: 20px 0px;
 
}


@media (max-width:768px) {
    .myproductcard{
        width: 45%;
    }
}
@media (max-width:496px) {
    .myproductcard{
        width: 80%;
    }
}