.col-md-4{
    padding: 0;
    
}
app-image{
    width: 32%;
    height: 475px;
    overflow: hidden;
    margin-bottom: 25px;
}

@media (max-width:768px) {
    app-image{
        height: 360px;
        width: 80%;
        margin: 25px 0px;
    }
}

